<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="GraphQL.ExposePlayground" patch:source="Sitecore.GraphQL.config" value="true"/>
      <setting name="Environment" value="$(env:CURRENT_ENV_NAME)"/>
    </settings>
  </sitecore>
</configuration>